body {
    width:700px;
    height: 900px;
    margin-right: auto;
    margin-left : auto;
    background: linear-gradient(#05FBFF, rgb(95, 84, 173));
    text-align: center;
  }

  footer{
      text-align: center;
  }

  input[type="text"],
textarea {
  outline: none;
  border: 1px solid #aaa;
  -webkit-transition: all .3s;
  transition: all .3s;
}
input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 7px #1abc9c;
  border: 1px solid #1abc9c;
}

input[type="text"] {
    width: 200px;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  input[type="text"]:focus {
    width: 300px;
  }